<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display All Records</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>All Books Displayed</h1>

<table>
<!--  -->
    <th:block th:each="abook:${books}">
    <tr>
        <td><p th:text="'SKU: ' + ${abook.sku}"/></td>
        <td><p th:text="'Title: ' + ${abook.title}"/></td>
        <td><p th:text="'Item Code: ' + ${abook.author}"/></td>
        <td><p th:text="'Description: ' + ${abook.description}"/></td>
        <td><p th:text="'Price: ' + ${abook.price}"/></td>
    </tr>
    </th:block>
</table>
<!--initiates a GET back to /addproduct-->
<a href="/addbook">Add another book</a>
</body>
</html>